@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');


:root{
    --azulEscuro: #0B0D17;
    --azulClaro: #D0D6F9;
    --branco: #fff;
    --cinza: #979797;
}

*{
    margin: 0;
    padding: 0;

}

body{
    background: url('/assets/home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 0 20px;
    height: 96px;
    position: relative;
}

.line{
    width: 33%;
    height: 1px;
    margin-left: 30px;
    background-color: rgba(102, 98, 98, 0.7);
    position: absolute;
    left:5%;
    z-index: 100;
}
.menu{
    display: flex;
    backdrop-filter: blur(90px);
    width: 100%;
    height: 96px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 8%;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    letter-spacing: 2.7px;
    line-height: auto;
}
.menu__item{
    margin: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 11px;
}
.menu__item a{
    text-decoration: none;
    color:white;
}

main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: regular;
    font-weight: 100;
    flex-wrap: wrap;
}
.main-container__left{
    width: 25%;
    height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--branco);
    margin-top: 247px;   
    border: solid;
    border-width: 1px;
    border-color: black;

}
.main-container__left p{
    font-style: regular;
    font-size: 28px;
    line-height: auto;
    letter-spacing: 4.72px;
}

.main-container__left h1{
    font-family: 'Bellefair', serif;
    font-style: regular;
    font-size: 150px;
    line-height: auto;
    font-weight: 100;
    margin-top: 20px;
}
.left__p{
    font-family: 'Barlow', sans-serif;
    font-style:regular;
    font-size:14px;
    line-height: 21px;
    
}
.main-container__right{
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-left: 17%;
    margin-top:13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container__right h2{
    font-family: "Bellefair", serif;
    font-weight: 150;
    font-style: normal;
    color: var(--azulEscuro);
    letter-spacing: 7px;
    font-size: 40px;
}

@media (max-width: 769px){
    html{
        overflow-x: hidden;
    }
    body{
        background: url('/assets/home/background-home-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    nav{
        width: 95%;
        justify-content: space-between;
        margin: 0;
    }
    .line{
        display: none;  
    }
    .menu{
        justify-content: center;
        backdrop-filter: none;
        background-color: rgba(97, 97, 97, 0.15);
        overflow-x: hidden;
        width: 65%;
        padding: 0;
        gap: 30px;
    }
    .menu__item{
        justify-content: space-around;
        margin: 0;
        border-bottom: none;
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    #item__home{
        border: 0 !important;
    }
    #item__home a{
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: solid 4px;
    }

    .menu__item strong{
        visibility: hidden;
    }
    main{
        width: ;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 82px;
        margin-bottom: 82px;
    }
    .main-container__left{
        width: auto;
        margin-top: 0;
        text-align: center;
        border: none;
        width: 327px;
        margin: 106px ;
        align-items: center;
    }
    #left__p1{
        font-size: 18px;
    }
    .main-container__left h1{
        width: 100%;
        font-size: 150px;

    }
    #left__p2{
        font-size: 17px ;
        line-height: 21px;
        width: 100%;
    }
    .main-container__right{
        margin: 0;
    }
}

@media (max-width: 469px){
    html{
        overflow-x: hidden;
    }
    body{
        background: url('/assets/home/background-home-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
    }
    .line{
        display: none;  
    }
    .menu{
        overflow-x: hidden;
    }
    .menu__item{
        border-bottom: none;
    }
    main{
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 82px;
        margin-bottom: 82px;
    }
    .main-container__left{
        width: 100%;
        margin-top: 0;
        text-align: center;
        border: none;
        width: 327px;
        /* margin: 58px 24px 0 24px; */
        align-items: center;
    }
    #left__p1{
        font-size: 18px;
    }
    .main-container__left h1{
        width: 100%;
        font-size: 80px;

    }
    #left__p2{
        font-size: 17px ;
        line-height: 21px;
        width: 100%;
    }
    .main-container__right{
        margin: 0;
    }
}
